body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    min-width: 1098px;
    overflow-x: hidden;
    }
    nav{
margin: auto;
position: sticky;
top: 0;
    }
    .nav-logo{
        font-size: 20px;
        height: 72px;
        background-color: #f7f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -2px;
        border-bottom: 1px solid rgb(206, 206, 206);
        

    }
    #btn-nav-logo{
        border: none;
        background-color: #f5f3f3;
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
        margin-left: 20px;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    #btn-nav-logo:hover{
        background-color: #d8d6d6;
    }
    .exit-login{
        margin-left: 20px;
        letter-spacing: 0;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        background-color: white;
        box-shadow: 0px 5px 8px 4px rgba(0, 0, 0, 0.1);
        height: 40px;
        padding-left: 60px;
        
    }
    
    .navbar a{
        text-decoration: none;
        color: black;
    }
    .navbar li.active a {
        color: #BB0E0E; 
        
    }
    .navbar a:hover{
        color: #BB0E0E;
    }
    .navbar li{
        margin-right: 50px;
        cursor: pointer;
        
    }
    .navbar li:hover{
        color: #BB0E0E;
        transition: transform 0.5s;
        transform: scale(1.1);
    }
    
header{
    background-color: #F8F8F8;
    
}
.img-header{
    border-radius: 10px;
    box-shadow: 0px 5px 8px 4px rgba(0, 0, 0, 0.1);
}
.main-info a{
text-decoration: none;
color: #D80000;
}

.header-text1{
font-weight: 400; 
font-style: normal;
text-align: left;
font-size: 26px;
width: 890px;
margin: auto;
padding-top: 100px;
}
.header-text2{
    font-weight: 400; 
    font-style: normal;
    text-align: left;
    font-size: 24px;
    width: 890px;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 50px;
    }
    
        
    .main-info{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 24px;
        padding-top: 56px;
        list-style: none;
        font-weight: 400; 
        font-style: normal;
        
    }
    .main-text a{
        text-decoration: none;
        color: #D80000;
        
    }
    .main-info li{
        padding: 78px;
        width: 600px;
        
    }
    .main-info img{
        float: left;
        padding-right: 32px;
        
        
    }
    .main-info-2{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-weight: 400; 
        font-style: normal;
        font-size: 24px;
        background-color: #F8F8F8;
        padding-top: 70px;
        padding-bottom: 115px;
    }   
    .main-info-2 li{
    padding: 15px;
    }
    .main-text{
        font-weight: 400; 
        font-style: normal;
        text-align: left;
        font-size: 24px;
        width: 890px;
        margin: auto;
        margin-top: 60px;
        padding-bottom: 8px;
    }
    
    .span-1{
    width: 820px;
    margin-left: 40px;
    }
    .span-2{
        margin-left: 130px;
        width: 820px;
    }
    footer img{
        padding: 55px 27px 45px 86px;
        float: left;
    }
    .footer-info{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    }
    .footer-info a{
     text-decoration: none;
    color: black;
    }

    /* Торговые автоматы */

    .main-text{
    width: 890px;
    margin: auto;
    padding-top: 70px;
    }
    .main-text h2{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 27px;
    }
    .main-text span{
    font-weight: 400; 
    font-style: normal;
    font-size: 26px;
    }
    .product-list li{
        
        padding: 10px 20px 20px 50px;
        text-align: left;
    }
    .text-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: left;
        padding-top: 40px;
        font-weight: 400; 
        font-style: normal;
        font-size: 22px;
        width: 900px;
        list-style: none;
    }
    
.text-center div{
    padding: 20px;
}
    .product-list{
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    
    .form{
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        width: 829px;
        height: 59px; 
        border: 1px solid #565252;
        border-radius: 5px;
        background-color: #fff;
    }

    
    #myInput {
        background-image: url('/css/img/icon\ _search_.svg'); 
        background-repeat: no-repeat; 
        background-position:  18px;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        width: 829px;
        height: 50px; 
        border: 1px solid #565252;
        border-radius: 5px;
        background-color: #fff;
        padding: 12px 20px 12px 70px;
        margin-bottom: 12px;
        font-size: 20px;
    }
   
    
    .cards-container{
        display: flex;
        flex-direction: column;
        width: 830px;
        margin: auto;
        
        
    }
    .cards-container img{
      
      border-radius: 12px;
      float: left;
      
    }
    .cards-container div{
        width: 830px;
        border-radius: 20px;
        margin-bottom: 30px;
        background-color: #fff;
        padding: 22px;
        display: flex;
        margin-top: 50px;
    }
        
       .cards-container li:last-child{
margin-left: 30px;
       }
        
    
    .cards-container-db{
        flex-direction: column;
        margin-left: 30px;
        align-items: center;
        
    }
    .cards-container-db li{
        list-style: none;
       margin-top: 15px;
      
       
    }

        
      

    .cards-container a{
        text-decoration: none;
        color: black;
    }
    .cards-container div:hover{
        box-shadow: 0px 5px 8px 4px rgba(0, 0, 0, 0.1);
    }
    
    /* Модальное окно */


    .modal {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        top: -1000px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background: rgba(245, 245, 245, 0.9);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;
        padding: 160px 15px;
        
      }
       
      .modal_active {
        position: fixed;
        top: 0;
        visibility: visible;
        opacity: 1;
        transition: .3s;
      }
       
      .modal__content {
        width: 100%;
        max-width: 500px;
        padding: 50px;
        background: rgba(227, 227, 227, 0.53);
        border-radius: 3px;
        position: relative;
        box-shadow: 0 5px 15px black;
        border-radius: 10px;
        
      }
      
      .modal__close-button {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: right;
        align-items: center;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        cursor: pointer;
        outline: none;
        margin-right: 10px;
        margin-top: 10px;

      }
       
      .modal__title {
        font-size: 1.8rem;
        margin: 0 0 15px;
      }
       
      .modal__description {
        font-size: 1.125rem;
      }
      .modal__content input{
        display: flex;
        
        margin: auto;
        width: 300px;
        height: 40px;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 10px;
    

      }
      .send{
        width: 200px;
        height: 40px;
        justify-content: center;
        margin: auto;
        font-size: 14px;
       
      }
      .send:hover{
        background-color: #e0e0e0;

      }
      .open-modal{
        height: 40px;
        border: none;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        margin-top: 285px;
        margin-right: 20px;
        font-family: 14px;
        width: 150px;
        font-weight: 800;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: #f3f2f2;
      }
     
      .modal__content_applicant {
        width: 100%;
        max-width: 500px;
        padding: 50px;
        background: rgba(227, 227, 227, 0.53);
        border-radius: 3px;
        position: relative;
        box-shadow: 0 5px 15px black;
        border-radius: 10px;
        
      }
.modal_applicant{
      position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        top: -1000px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background: rgba(245, 245, 245, 0.9);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;
        padding: 160px 15px;
        }
        .header-text2 h2{
            margin-top: 150px;
        }
        .o-moskve{
            
            font-weight: 400; 
    font-style: normal;
    text-align: left;
    font-size: 24px;
    width: 890px;
    margin: auto;
  padding-bottom: 90px;
   
        }